---
---

@import "{{ site.theme }}";

/* Everything above this is the bare minimum */

/* Everything below this is my own customizations */

a {
 color:#51e0f0;
}

a:hover,
a:focus {
 color:#51e0f0;
}
a small {
 color:#51e0f0;
}
a:hover small {
 color:#51e0f0
}

/* body means everything, the default for the page */
body {
 font-family: "Lucida Console", "Courier New", monospace;
 font-size: 105%;
}

/* these are the headers */
h1, h2, h3, h4, h5, h6 {
 letter-spacing: -0.08em;
}


header h1 a {
 font-size: 1.2em;
 color: #4a30c9;
}

header h1 a:hover {
 font-size: 1.2em;
 color: #2d298f;
}

header h2 a {
 font-size: 1.2em;
 color: #2165ac;
}

header h2 a:hover {
 font-size: 1.2em;
 color: #92c6de;
}

